MoSiR/mirowrapper/inputs/MiroParserServerSecrets.json
MoSiR/inputs/MiroParserServerSecrets.json
MoSiR/mirowrapper/mirowrapper.env
MoSiR/visualization/templates/*
!MoSiR/visualization/templates/.gitkeep
!MoSiR/visualization/templates/keepme.txt
MoSiR/uploads/*
!MoSiR/uploads/.gitkeep
!MoSiR/uploads/keepme.txt
MoSiR/__pycache__/
tests/__pycache__/
build/
MoSiR.egg-info/
__pycache__/
dist/
examples/Output
tests/Microtests
.vs 
.vscode
.pytest_cache
standalone/MoSiR.dist
standalone/MoSiR.build
MoSiR/BFECGCBM
htmlcov/
.coverage
README_package.md