MoSiR/mirowrapper/inputs/MiroParserServerSecrets.json
MoSiR/mirowrapper/mirowrapper.env
MoSiR/visualization/templates/*
!MoSiR/visualization/templates/.gitkeep
MoSiR/uploads/*
!MoSiR/uploads/.gitkeep
MoSiR/__pycache__/
tests/__pycache__/
build/
MoSiR.egg-info/
__pycache__/
dist/