MoSiR/mirowrapper/inputs/MiroParserServerSecrets.json
MoSiR/mirowrapper/templates/Temp_*.html
MoSiR/mirowrapper/uploads/*.json
MoSiR/__pycache__/
tests/__pycache__/
build/
MoSiR.egg-info/
__pycache__/
dist/