<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <title>Génération des graphs</title>
        <!-- <link rel="stylesheet" href="../static/css/mirotone/styles.css" /> --> 
        <script src="https://miro.com/app/static/sdk/v2/miro.js"></script>
    </head>
    <body>
            <div class="grid container">
                <div class="cs1 ce12">
                    <img src="/static/image/Illustration_Blog_RunningRemoteMeetings_FY22Q4-1.png" alt="" />
                </div>
                <div name="WPSelection" class="selectpicker form-control">
                    <div class="cs1 ce12">
                        <h1>Graphs exportés</h1>
                        {% for Name, Data in GraphStats %}
                            <h2>{{ Name }}</h2>
                            {% for key, values in Data.items() %}
                                <table style="display: inline-block;">
                                <tr><th colspan="2">{{ key }} ({{ values['Size'] }})</th></tr>
                                    {% for Datatype, Count in values.items() %}
                                        {% if Datatype != 'Size' %}
                                        <tr>
                                            <td>{{ Datatype }}</td>
                                            <td>{{ Count }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                            {% endfor %}
                            </table>
                            <a
                            class="button button-primary"
                            href='/GraphRendering/<{{ Name }}>'
                            target="_blank"
                            >
                            Visualiser
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="cs1 ce12">
                        <a
                            class="button button-primary"
                            href='/GraphsDownload'
                            target="_blank"
                        >
                        Télécharger les Graphs
                        </a>
                </div>
        </div>         
    </body>
</html>